.playerdiv  {
  display: flex;
  justify-content: space-between;
  margin: 0 0.3rem;
  flex-direction: column;
  flex-grow: grow;
  margin-top: 30px;
}

.itemPlayers{
  display: flex;
  text-align: center;
  padding: 15px 1px;
  /* align-items: center; */
  border-bottom: 1px solid rgb(219, 218, 218);
}
.itemPlayers b {
  display: flex;
  justify-content: space-between;
  /* width: fit-content; */
  margin-right: auto;
  align-items: center;
  width:50px;
  text-align: center;
}

.usrlogin {
  display: block;
  width: fit-content;
  height: fit-content;
  font-size: 1.5rem;
  /* margin-right: auto; */
  text-align: center;
  /* padding-bottom: 5px; */
}
.btnInvite {
  height: 35 px;
  margin-top: 30 px;
  width: 145 px;
}
/* .usrlogin {
  margin-right: 43 px;
  margin-left: -30 px;
} */
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #fece86;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 108 13 / 32%);
}
