* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* background-image: url('https://images.wallpaperscraft.ru/image/single/volny_more_vid_sverhu_146064_1920x1080.jpg'); */
}

.App-link {
  color: #61dafb;
}

.field {
  display: flex;
  flex-direction: column;
}

.field-row {
  display: flex;
}

.field-cell {
  height: 20px;
  width: 20px;
  background-color: #61dafb;
  border: 1px black solid;
}

.goodshot {
  height: 20px;
  width: 20px;
  background-color: black;
  border: 1px black solid;
}

.badshot {
  height: 20px;
  width: 20px;
  background-color: red;
  border: 1px black solid;
}

.killedcell {
  height: 20px;
  width: 20px;
  background-color: green;
  border: 1px green solid;
}

.numbers {
  align-self: initial;
}
.game {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.shipcell {
  height: 20px;
  width: 20px;
  background-color: grey;
  border:  1px grey solid;
}

.ships {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.ship {
  display: flex;
  margin: 5px;
}

li {
  list-style-type: none;
}

.modal{
  position: absolute;
  display: flex;
  align-self: center;
  height: 100px;
  width: 200px;
  top: calc(50vh - 75px);
  left: calc(50vw - 125px);
  margin: auto;
  background-color: lightblue;
}
