.ff {
  display: flex;
  flex-direction: column;
}

.invite {
  /* background-color: rgb(255, 205, 205); */
  padding: 0.6rem;
}

.invite *:nth-child(2) {
  width: 9rem;
  color: rgba(91, 138, 112, 0.774);
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(243, 243, 243);
  /* content: "Отправлено ✓"; */
}

.invite *:nth-child(2):hover::after {
  content: "Отменить";
}

.invite *:nth-child(2)::after {
  content: "Отправлено ✓";
}