.ff {
  display: flex;
  flex-direction: column;
}

.invite {
  /* background-color: rgb(255, 205, 205); */
  /* padding: 0.6rem; */
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 15px 1px;
  align-items: center;
}

.invite *:nth-child(1) {
  width: 9rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.invite *:nth-child(2) {
  width: 9rem;
  color: rgba(91, 138, 112, 0.774);
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(243, 243, 243);
  /* content: "Отправлено ✓"; */
}

.invite *:nth-child(2):hover::after {
  content: "Отменить";
}

.invite *:nth-child(2)::after {
  content: "Отправлено ✓";
}