.game {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  align-items: center;
}

.fields {
  display: flex;
  justify-content: space-evenly;

  margin: 2rem 0;

  width: 100%;

  --cell-size: 27px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field-row {
  display: flex;
}

.field-cell {
  height: var(--cell-size);
  width: var(--cell-size);
  background-color: #61dafb80;
  border: 1px rgba(0, 0, 0, 0.897) solid;
}

.goodshot {
  height: var(--cell-size);
  width: var(--cell-size);
  border: 1px black solid;
  background-image: url('../../img/redcross.png');
  background-size: 30px 30px;
  background-color: #61dafb80;
}

.badshot {
  height: var(--cell-size);
  width: var(--cell-size);
  border: 1px black solid;
  background-image: url('../../img/blackPoint.png');
  background-color: #61dafb80;
  background-size: 30px 30px;
}

.killedcell {
  height: var(--cell-size);
  width: var(--cell-size);
  background-image: url('../../img/redcross.png');
  background-size: 30px 30px;
  border: 1px red solid;
  background-color: #fbb36180;
}

.numbers {
  align-self: initial;
}

.game {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.shipcell {
  height: var(--cell-size);
  width: var(--cell-size);
  background-color: rgb(156, 155, 155);
  border: 1px rgb(156, 155, 155) solid;
}

.field-label {
  font-size: 1rem;
  width: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.win {
  color: #8cc640;
  font-size: 27px;
  margin-top: 1%;
}

.game-info {
  font-size: 3rem;
}

.field-title {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.gamepage{
  display: flex;
  width: 100%;

}