.game {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  align-items: center;
}

.fields {
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
}

.field-row {
  display: flex;
}

.field-cell {
  height: 30px;
  width: 30px;
  background-color: #61dafb80;
  border: 1px rgba(0, 0, 0, 0.897) solid;
  /* border-left: 1px rgba(0, 0, 0, 0.897) solid;
  border-bottom: 1px rgba(0, 0, 0, 0.897) solid; */
}

.goodshot {
  height: 30px;
  width: 30px;
  background-color: rgb(0, 0, 0);
  border: 1px black solid;
}

.badshot {
  height: 30px;
  width: 30px;
  background-color: red;
  border: 1px black solid;
}

.killedcell {
  height: 30px;
  width: 30px;
  background-color: green;
  border: 1px green solid;
}

.numbers {
  align-self: initial;
}

.game {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.shipcell {
  height: 30px;
  width: 30px;
  background-color: grey;
  border:  1px grey solid;
}

.ships {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.ship {
  display: flex;
  margin: 5px;
}

.field-label {
  font-size:  1rem;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
