@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fruktur&family=Rubik+Beastly&family=Zen+Kurenaido&display=swap');
a {
  color: white !important;
}
.opt {
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 50px;
  font-size: 40px;
  font-family: 'Rubik Beastly', cursive;
  background: #1f23268f;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
nav a {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  background: #521214b5;
  transition: all 0.5s ease 0s;
  border-radius: 12px;
}

nav a:nth-child(1) {
  width: 30%;
}
nav .start-home,
nav a:nth-child(1):hover ~ .animation {
  width: 25%;
  left: 0;
}
nav a:nth-child(2) {
  width: 30%;
}
nav a:nth-child(2):hover ~ .animation {
  width: 25%;
  left: 25%;
}
nav a:nth-child(3) {
  width: 30%;
}
nav a:nth-child(3):hover ~ .animation {
  width: 25%;
  left: 50%;
}

nav a:nth-child(4) {
  width: 30%;
}
nav a:nth-child(4):hover ~ .animation {
  width: 27%;
  left: 76%;
}
